trigger: none

pool: supperpool

steps:
- task: tfsec@1
  inputs:
    version: 'v1.26.0'
    dir: '$(System.DefaultWorkingDirectory)/production_module'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/production_module'
    backendServiceArm: 'dishantscv'
    backendAzureRmStorageAccountName: 'dishanttizori'
    backendAzureRmContainerName: 'dishantcontainer'
    backendAzureRmKey: 'dishant.tfstate'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '$(System.DefaultWorkingDirectory)/production_module'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/production_module'
    environmentServiceNameAzureRM: 'dishantscv'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/production_module'
    environmentServiceNameAzureRM: 'dishantscv'